{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-7">
            <h2>
                Lift History
                <a href="#list-stuff-form" class="btn btn-md btn-success pull-right">
                    <span class="fa fa-plus"></span> Add
                </a>
            </h2>

            <table class="table table-striped js-rep-log-table">
                <thead>
                <tr>
                    <th>What</th>
                    <th>How many times?</th>
                    <th>Weight</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {% for repLog in repLogs %}
                    <tr>
                        <td>{{ repLog.itemLabel|trans }}</td>
                        <td>{{ repLog.reps }}</td>
                        <td>{{ repLog.totalWeightLifted }}</td>
                        <td>
                            &nbsp;<a href="#" class="js-delete-rep-log">
                                <span class="fa fa-trash"></span>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">Get liftin'!</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td>&nbsp;</td>
                        <th>Total</th>
                        <th>{{ totalWeight }}</th>
                        <td>&nbsp;</td>
                    </tr>
                </tfoot>
            </table>

            {{ include('lift/_form.html.twig') }}

        </div>
        <div class="col-md-5">
            <div class="leaderboard">
                <h2 class="text-center">
                    <img class="dumbbell" src="{{ asset('assets/images/dumbbell.png') }}" />
                    Leaderboard
                </h2>

                {{ include('lift/_leaderboard.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        /*When document is ready */
        $(document).ready(function () {
            let $table = $('.js-rep-log-table');
            /* Search only in table element not the whole html */
            $table.find('.js-delete-rep-log').on('click', function (e) {
                // Don't do the default browser behaviour for this event, navigate to its href
                e.preventDefault();

                // Don't bubble this event up the DOM tree
                // e.stopPropagation();

                // preventDefault + stopPrapagation <=> return false

                // Target : property on the event object, points to the clicked object
                // e.target is a DOM Element Object
                $(e.target).addClass('text-danger');

                // e.target.className = e.target.className + ' text-danger'

                // CONSOLE DIR - see all the properties of a specified JavaScript object
                console.dir(e.target);
            });

            $table.find('tbody tr').on('click', function () {
                console.log('here 2');
            })

        });
    </script>
{% endblock %}
