{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-7">
            <h2>
                Lift History
                <a href="#list-stuff-form" class="btn btn-md btn-success pull-right">
                    <span class="fa fa-plus"></span> Add
                </a>
            </h2>

            <table class="table table-striped js-rep-log-table">
                <thead>
                <tr>
                    <th>What</th>
                    <th>How many times?</th>
                    <th>Weight</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {% for repLog in repLogs %}
                    <tr data-weight="{{ repLog.totalWeightLifted }}">
                        <td>{{ repLog.itemLabel|trans }}</td>
                        <td>{{ repLog.reps }}</td>
                        <td>{{ repLog.totalWeightLifted }}</td>
                        <td>
                            &nbsp;<a
                                href="#"
                                class="js-delete-rep-log"
                                data-url="{{ path('rep_log_delete', {id: repLog.id}) }}"
                            >
                                <span class="fa fa-trash"></span>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">Get liftin'!</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td>&nbsp;</td>
                        <th>Total</th>
                        <th class="js-total-weight">{{ totalWeight }}</th>
                        <td>&nbsp;</td>
                    </tr>
                </tfoot>
            </table>

            {{ include('lift/_form.html.twig') }}

        </div>
        <div class="col-md-5">
            <div class="leaderboard">
                <h2 class="text-center">
                    <img class="dumbbell" src="{{ asset('assets/images/dumbbell.png') }}" />
                    Leaderboard
                </h2>

                {{ include('lift/_leaderboard.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let RepLogApp = {
            // Init object
            initialize: function ($wrapper) {
                this.$wrapper = $wrapper;
                // Attach event listeners
                this.$wrapper.find('.js-delete-rep-log').on('click', this.handleRepLogDelete);
                this.$wrapper.find('tbody tr').on('click', this.handleRowClick);
            },
            updateTotalWeightLifted : function () {
                let totalWeight = 0;
                this.$wrapper.find('tbody tr').each(function () {
                    totalWeight += $(this).data('weight'); // $(this) is each tr
                });
                this.$wrapper.find('.js-total-weight').html(totalWeight);
            },
            handleRepLogDelete: function(e) {
                // Don't do the default browser behaviour for this event, navigate to its href
                e.preventDefault();

                // Don't bubble this event up the DOM tree
                // e.stopPropagation();

                // preventDefault + stopPrapagation <=> return false

                // Target : property on the event object, points to the clicked object
                // e.target is a DOM Element Object
                // e.target.className = e.target.className + ' text-danger'
                $(this).addClass('text-danger');

                // CONSOLE DIR - see all the properties of a specified JavaScript object
                // console.dir(e.target);

                // Change trashcan to spinner
                $(this).find('.fa')
                    .removeClass('fa-trash')
                    .addClass('fa-spinner')
                    .addClass('fa-spin')

                // data() is a wrapper around core JS functionnality. The data-* attributes are also directly accessible on the DOM Element object
                // var deleteUrl = $(this)[0].dataset.url OR this.dataset.url
                let deleteUrl = $(this).data('url');

                // Find the closest tr element by going up the DOM tree
                let $row = $(this).closest('tr');

                // Delete row
                $.ajax({
                    url     : deleteUrl,
                    method  : 'DELETE',
                    success : function () {
                        $row.fadeOut('normal', function () {
                            $row.remove();
                            /* Like calling a static method in PHP */
                            RepLogApp.updateTotalWeightLifted();
                        });
                    }
                })
            },
            handleRowClick: function () {
                //
            }
        };
        /*When document is ready */
        $(document).ready(function () {
            /* Search only in table element not the whole html */
            let $table = $('.js-rep-log-table');
            RepLogApp.initialize($table);
        });
    </script>
{% endblock %}
